body {
    /*             position: static;*/
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ffffff;
    /*overflow: hidden;*/
    color: white;
    /*font-family: ka1;*/
    /*background-color: black;*/
}

@font-face {
    font-family: SaucerBB;
    src: url(font/SaucerBB.ttf);
    font-weight: bold;
}
@font-face {
    font-family: ka1;
    src: url(font/ka1.ttf);
    font-weight: bold;
}